<!DOCTYPE html>
<html>
<head>
  <title>WorkoutAppBdd</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <!--    <a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to 'Home', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Athletes Den', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>
          <% else %>
            <%= link_to('Login', new_user_session_path, class: 'nav-link') %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if !user_signed_in? %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container">
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key.eql?('notice') ? 'success' : 'danger' %>">
      <%= message %>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
