<!DOCTYPE html>
<html>
<head>
  <title>WorkoutAppBdd</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render partial: 'share/header' %>
<%= render partial: 'share/main' %>
<%= render partial: 'share/fotter' %>
</body>
</html>
